@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(to bottom, #3568C4, #71ABFD, #F8E341);
    display: flex;

    /* 要素を縦に並べる */
    flex-direction: column;

    /* 水平方向の中央寄せ */
    justify-content: center;

    /* 垂直方向の中央寄せ */
    align-items: center;
}

header {
    margin: 30px;
    font-size: 30px;
    font-weight: bold;
}

.logo {
    text-align: center;
}

.logo img {
    display: inline-block;
    width: 150px;
    height: auto;
}

p {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 20px;
}

.box {
    background-color: rgba(50, 50, 50, 0.4);
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

.form-group {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.label {
    font-size: 12px;
    margin-bottom: 5px;
}

.input {
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 7px;
}

.text-right {
    text-align: right;
}

.btn-danger {
    color: #fff;
    background-color: #D54E51;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 50%;
    padding: 5px;
}

.btn-danger:hover,
.login-btn:hover {
    background-color: #c44144;
}

.register {
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.center-btn {
    text-align: center;
    margin-bottom: 20px;
}

.login-btn {
    color: #fff;
    background-color: #D54E51;
    border: none;
    border-radius: 5px;
    width: 50%;
    padding: 5px;
    font-size: 12px;
}

.welcome {
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.welcome p,
.clear p {
    font-size: 15px;
    margin-bottom: 30px;
}

.welcome p {
    line-height: 1.5;
}

.clear p {
    line-height: 1.5;
    text-align: left;
    font-size: 14px;
}

.register_error {
    color: #c44144;
    font-weight: bold;
}

.error-massage {
    margin-bottom: 5px;
}
