@charset "utf-8";

html {
    height: 100%;
}

body {
    height: 100%;
}

/* header */
header {
    padding: 10px;
    background: #186AC9;
}

.username {
    color: #f7ecf1;
}

/* main content */
#head {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

#row {
    display: flex;
    /* flex-flow: row wrap; */
}

#container {
    height: 100%;
    flex: 0 0 80%;
    border-right: 1px solid #727272;
}

#side-bar {
    flex: 0 0 19%;
}

.form-group img,
.icon img {
    width: 50px;
    height: 50px;
}

.follow {
    border-bottom: 1px solid #727272;
    margin-bottom: 30px;
    padding: 0 0 20px 20px;
    line-height: 30px;
    font-size: 12px;
    width: 100%;
}

.follow div {
    display: flex;
    justify-content: flex-end;
}

.nav-open {
    margin: 0 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-wrapper {
    background-color: #fff;
    border-bottom: 1px solid #0067C5;
    border-left: 1px solid #0067C5;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-item {
    height: 50px;
}

.nav-link {
    display: block;
    text-align: center;
    color: #727272;
    text-decoration: none;
    background-color: #fff;
    padding: 10px;
}

.nav-link:hover {
    background-color: #0067C5;
    color: #fff;
}

.post-form-container,
.follow-list {
    border-bottom: 5px solid #B0B0B0;
}

.menu-trigger {
    color: #f7ecf1;
    margin: 0 10px;
    position: relative;
    border-top: none;
    outline: 0;
    cursor: pointer;
}

.menu-trigger p {
    transition: .35s ease-in-out;
    transform: rotate(90deg);
}

.menu-trigger.active p {
    transform: rotate(-90deg);
}

.g-navi {
    position: absolute;
    display: none;
}

.g-navi.active {
    display: block;
    width: 20%;
}

.post-btn {
    border: none;
    background-color: #fff;
}

.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.search-container {
    display: flex;
}

.delete-button {
    width: 50px;
    height: 50px;
    background-image: url(../images/trash.png);
    background-size: cover;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.delete-button:hover {
    background-image: url(../images/trash-h.png);
}

.text-right {
    text-align: right;
}

.follow-btn {
    color: #fff;
    background-color: #0067C5;
    border-radius: 5px;
    display: block;
    padding: 0 10px;
    text-align: center;
    width: 100px;
    margin-right: 20px;
    text-align: center;
}

.search-container {
    justify-content: center;
}

.search-btn {
    color: #fff;
    background-color: #0067C5;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    width: 100px;
    text-align: center;
}

.edit-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* フォーム全体の高さを確保して、ボタンが下に配置されるようにする */
}

.btn.edit-btn {
    display: block;
    align-self: flex-start;
    margin-top: 20px;
    /* ボタンを下部に配置し、間隔を追加 */
    color: #fff;
    background-color: #D54E51;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 50%;
    padding: 5px;
    margin-left: 70px;
}

.edit-mode {
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
    gap: 20px;
    /* アイコンとフォームの間のスペースを調整 */
    margin: 50px 100px;
}

.edit-mode-icon {
    height: 50px;
    width: 50px;
}

.edit-group {
    display: block;
    margin-top: 25px;
    margin-left: 20px;
    justify-content: flex-end;
}

.form-group {
    display: flex;
    justify-content: flex-start;
}

.edit-total {
    display: flex;
}

.form-group img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.form-control {
    resize: none;
    border: none;
    width: 100%;
    height: 100px;
    margin: 50px 20px 20px 20px;
}

.right-under {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* 垂直方向の右端に寄せる */
    justify-content: flex-end;
    /* 水平方向の右端に寄せる */
}

.post-btn {
    margin: 100px 20px 20px 0;
}

.user-form {
    margin-top: 30px;
    text-align: left;
    margin-left: 50px;
}

.post {
    display: flex;
    align-items: flex-start;
    /* オプション：上揃え */
    border-bottom: 1px solid #727272;
    padding: 0px 20px 20px 100px;
}

.user-icon {
    margin-right: 20px;
    /* オプション：要素間のスペースを調整 */
}

.name-post {
    flex-grow: 1;
    /* コンテンツに応じてこの要素が広がる */
}

.created-buttons {
    display: flex;
    flex-direction: column;
    /* 縦並びにする */
    /* オプション：左揃え */
    position: relative;
    padding-bottom: 50px;
    /* 下部の余白を確保 */
}

.post {
    position: relative;
    padding-bottom: 60px;
    /* ボタンの高さ分のスペースを確保 */
}

.buttons {
    position: absolute;
    right: 10px;
    /* 右からの距離を調整 */
    bottom: 10px;
    /* 下からの距離を調整 */
    display: flex;
    gap: 10px;
    /* ボタン間のスペースを調整 */
}

.buttons img,
.buttons button {
    margin-left: 10px;
    /* ボタンとアイコンの間のスペースを調整 */
}

.post-icon {
    width: 50px;
    height: 50px;
}

.index {
    margin-top: 20px;
}

.edit-form {
    height: 18px;
    font-size: 16px;
    border: 1px solid #A1A1A1;
    background-color: #EFEFEF;
    margin-left: 100px;
}

.justify-content-center {
    justify-content: center;
    display: flex;
}

.image-box {
    width: 200px;
    height: 54px;
    font-size: 16px;
    border: 1px solid #A1A1A1;
    background-color: #EFEFEF;
    align-items: center;
    display: flex;
    justify-content: center;
    color: grey;
    margin-left: 105px;
}

.select-icon {
    display: flex;
}

.edit-style {
    margin-bottom: 50px;
}

.search-page {
    border-bottom: 5px solid #B0B0B0;
    display: flex;
    align-items: center;
}

.search-area {
    margin: 25px 40px;
    align-items: center;
}

.look-for {
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

.lf-image {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.search-form {
    display: flex;
    align-items: center;
}

.form {
    height: 24px;
    margin-right: 15px;
}

.search-form .form {
    flex-grow: 1;
    margin-right: 10px;
    /* ボタンとの間隔を調整 */
}

.search-form .btn {
    display: flex;
    align-items: center;
    padding: 0;
    /* 余白の調整 */
}

.user-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.undo-follow {
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}

.do-follow {
    color: #fff;
    background-color: #55acee;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}

.list-icon {
    height: 50px;
    width: 50px;
}

.follow-unfollow {
    margin-left: 50px;
    flex-shrink: 0;
}

.user-list {
    margin-bottom: 10px;
    padding: 30px 200px;
}

.icon-area {
    flex-shrink: 0;
    width: 40px;
    margin-right: 10px;
}

.user-info {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.undo-follow,
.do-follow {
    white-space: nowrap;
}

.user-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* アイコンを左寄せ */
}

.user {
    flex: 0 0 10%;
    /* 1行に10個のアイコンを表示 */
    text-align: center;
    margin-right: -4.4px;
}

.follow-list {
    display: flex;
    padding: 20px 50px;
}

.follow-title {
    padding-top: 17.5px;
}
