@charset "utf-8";

html {}

body {}

/* header */
header {
    padding: 10px;
    background: #186AC9;
}

p {
    color: #f7ecf1;
}

/* main content */
#head {
    align-items: center;
    position: relative;
    justify-content: space-between;
}

#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    height: 100%;
    flex: 0 0 80%;
    border-right: 1px solid #727272;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.username {
    margin: 0 10px;
}

.icon {
    margin: 0 20px;
}

.nav-open {
    display: flex;
    justify-content: flex-end;
}

.nav-wrapper {
    display: block;
}

.menu-trigger {
    position: relative;
    border-top: none;
    outline: 0;
    cursor: pointer;
}

.menu-trigger p {
    display: flex;
    position: absolute;
    transition: .35s ease-in-out;
    transform: rotate(90deg);
}

.menu-trigger.active p {
    transform: rotate(-90deg);
}

.g-navi {
    display: flex;
    position: fixed;
    transform: translateY(-100%);
    z-index: 1;
    transition: .5s ease-in-out;
}

.g-navi ul {
    display: block;
}

.g-navi.active {
    transform: translateY(0%);
    transition: .5s ease-in-out;
}
